<settings>
    <servers>
        <server>
            <id>codeartifact</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
        <server>
            <id>Nexus</id>
            <username>${env.NEXUS_AUTH_USR}</username>
            <password>${env.NEXUS_AUTH_TOKEN}</password>
        </server>
    </servers>
</settings>              
